* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

/********** header-part CSS *********/

nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
}

.logo-design {
  color: white;
  font-size: 35px;
  line-height: 85px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  font-size: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.link-design,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.check-button {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo-design {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}






/************* table style ********/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/*************** pagination page css *************/

.pagination-drop{
    display: flex;
    gap-between: 10px;
    
}

.dropdown{
    margin-left: 30px;
}



.pagination {
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important ;
padding-left: 0 !important ;
list-style: none !important;
border-radius: .25rem !important;
}

.pagination2 .page-item{
padding: 8px !important;
border: #259dc7 1px solid !important;
margin: 11px !important;
background: lightblue !important;
color: white !important;
}
.page-item a{
text-decoration: none !important;
font-weight: bold !important;
color: red !important;
font-size: 20px !important;
}
.table{
background: #cf8686 !important;
color: #0d0d0d !important;
margin-bottom: 10px !important;
border: green 2px solid !important;
}
.table th{
background: #666699 !important;
padding: 5px !important;
font-size: 22px !important;
}



/******************* Drop down button ***********/

.dropbtn {
  background-color: #04AA6D !important;
  color: white !important;
  padding: 16px !important;
  font-size: 16px !important;
  border: none !important;
}

.dropdown {
  position: relative !important;
  display: inline-block !important;
}

.dropdown-content {
  display: none !important;
  position: absolute !important;
  background-color: #c7c7c7 !important;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px !important;
  text-decoration: none !important;
  display: block !important;
}

.dropdown-content a:hover {background-color: #c7c7c7 !important;}

.dropdown:hover .dropdown-content {display: block !important;}

.dropdown:hover .dropbtn {background-color: #3e8e41 !important;}

















/*******   Footer part ******/

.footer-container {
  max-width: 1170px;

  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-design {
  background-color: #24262b;
  padding: 70px 0;
}

.col-footer {
  width: 25%;
  padding: 0 15px;
}

.col-footer h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.col-footer h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}

.col-footer h4 ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
