* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

/********** header-part CSS *********/

nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
}

.logo-design {
  color: white;
  font-size: 35px;
  line-height: 85px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  font-size: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.link-design,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.check-button {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo-design {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/*******   Footer part ******/

.footer-container {
  max-width: 1170px;

  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-design {
  background-color: #24262b;
  padding: 70px 0;
}

.col-footer {
  width: 25%;
  padding: 0 15px;
}

.col-footer h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.col-footer h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}

.col-footer h4 ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
